html,
body {
    margin: 0;
    padding: 0;
}

.background-image {
    background: fixed no-repeat no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    /* Takes the image out of the flow and positions it according to the nearest positioned ancestor */
    top: 0;
    left: 0;
    width: 100vw;
    /* Covers the full viewport width */
    height: 100vh;
    /* Covers the full viewport height */
    object-fit: cover;
    /* Ensures the aspect ratio of the image is maintained */
    z-index: -1;
    /* Ensures the image stays behind any other content you might add */
}

.flex-row {
    justify-content: center;
    min-width: 100%;
    height: auto;
    border: solid 1px red;
    display: flex;
    align-content: center;
}

.timer {
    width: 20%;
    height: min-content;
    font-size: 4rem;
    color: white;
    z-index: 5;
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.scene {
    width: 333px;
    height: 110px;
    perspective: 2000px;
    margin: auto;
    align-content: center;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cube-bottom {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: white;
    color: black;
}

.cube.show-bottom {
    transition: transform 1s;
    transform: translateZ(-100px) rotateX(90deg);
}

.cube-face {
    position: absolute;
    width: 333px;
    height: 110px;
    border: 2px solid white;
    background-color: black;
    color: white;
}

.cube.is-flipped {
    transform: rotateX(90deg) translateZ(55px);
}

.timer {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(0deg);
    width: 333px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.pomodorro {
    border: 1px solid pink;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateX(-90deg) translateZ(55px) translateY(56px);
    width: 333px;
    height: 110px;
    background-color: white;
    color: black;
}